# Auto detect text files and perform LF normalization
* text=auto

# Ignore .yy && .GLSL files for language statistics
*.yy linguist-generated=true
*.vsh linguist-generate=true
*.fsh linguist-generate=true
